/* Font Declaration */
.sansita-swashed {
  font-family: "Sansita Swashed", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.caudex-regular {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: normal;
}

.caudex-bold {
  font-family: "Caudex", serif;
  font-weight: 700;
  font-style: normal;
}

.adlam-display-regular {
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Root */
#root {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  @apply caudex-bold font-extrabold tracking-tight leading-relaxed
}




/* Header Styles */
.resume-header {
  @apply sticky mx-auto z-50 top-4 max-lg:w-full max-lg:gap-6 gap-4 px-6 py-2 flex flex-row justify-center lg:justify-between items-center max-lg:flex-wrap
}
.header-items-wrapper {
  @apply py-2 px-6 border-[calc(1px)] border-white rounded-3xl bg-primary text-center tracking-wider font-semibold font-sans box-border;
}
.header-items-wrapper:hover{
  @apply bg-white text-primary cursor-pointer transition-colors ease-in
}

.text-secondary {
  @apply text-[color:#A5A5A5];
}

.text-primary {
  @apply text-[color:#202020]
}
.bg-primary {
  @apply bg-[color:#202020];
}

.bg-secondary {
  @apply bg-[color:#A5A5A5];
}

/* 
  Note Styles 
*/
.quote-text {
  @apply px-12 font-serif text-3xl lg:text-6xl text-wrap tracking-wider lg:leading-[6rem] text-white italic
}

/*
  Skills Section Styles
*/

.tw-skills-container {
  @apply flex flex-wrap max-w-[80%] lg:max-w-[50%] justify-center items-center will-change-auto overflow-hidden;
}

#skills-container > span {
  @apply border-[1px] border-white rounded-full text-white text-[2vw] px-3 py-2 caudex-regular will-change-auto;
}


#education-container > * > span {
  @apply h-full flex flex-1;
}

#work-education-container span {
  @apply font-mono h-full flex items-center justify-start text-slate-100;
}



.quote-color {
  background: linear-gradient(90deg, #3ce7de, #91FF82);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* Animations */
.hero-anim{
  background: linear-gradient(90deg, #aaee52, #3ce7de, #676767, #A5A5A5);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s linear infinite;
}

.header-bg-color-anim{
  background-color: black;
}

@keyframes gradient {
  0%, 100% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
}