/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Sansita+Swashed:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Oswald:wght@200..700&family=Poppins&display=swap');

/* Tailwind Imports */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Styles */
@layer base{
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #202020;
    --color-secondary: 165, 165, 165;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}